
.wrapper{
    background-color: #f9fafb;
    max-width: 450px;
    border-radius: 10px;
    padding: 10px;
}
.wrapper_content{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
}

.img{
    width: 140px;
    height: 20vh;
    border-radius: 5px;
}

.form input{
    border-radius: 10px;
    height: 60px;
    border: none;
    width: 100%;
    padding-left: 50px;
   
}

.search{
    margin-left: 10px;
    margin-top: 15px;
    position: absolute;
}

.camera{
    margin-left: 240px;
    margin-top: 15px;
    position: absolute;
}

.micro{
    margin-left: 270px;
    margin-top: 15px;
    position: absolute;
}

.form{
    display: flex;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 35px;
}

.tools{
    display: flex;
    justify-content: flex-start;
}

.b{
    display: flex;
    align-items: center;
    line-height:400%;
}

.card{
    width: 150px;
    margin-right: 20px;
    background-color: white;
    border: none;
}

.product{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

span{
    display: flex;
    justify-content: space-between;
}




